.banner-button button{
    width: 50%;
    border-radius: 5px;
    padding: 0 4px;
}
.banner-button button:first-child{
    color: white;
    background-color: steelblue;
}
.banner-form{
    padding: 40px;
    border-radius: 10px;
}
.banner-form h1{
    font-size: 18px;
    font-weight: 700;
}
.banner-form button{
    width: 100%;
    padding: 4px;
    color: white;
    background-color: steelblue;
    border: none;
}
.banner-course{
    padding: 4px;
    border-radius: 10px;

}
.banner-course h3{
    font-size: 18px;
    color: steelblue;
    font-weight: 700;
}