body{
    background-color: aquamarine;
    margin: 40px;
    line-height: 1.6em;
}
.accordian{
    background-color: white;
    border: red solid 1px;
    border-radius: 10px;
    padding: 4px 16px;
    margin: 10px;
}